* {
    box-sizing: border-box;
}

body {
    max-width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../assets/pokemon-landscape.png);
    background-attachment: fixed;
    background-size:cover;
    margin: 0;
    padding: 0;
}
